#text{
position: absolute;
left: 425px;
top: 200px;
font-family: Arial;
font-size: 36px;
}
#button{
position: absolute;
width: 400px;
height: 100px;
left: 480px;
top: 353px;
background: #7CFF67;
border-radius: 50px;
border: none;
font-size: 24px;
text-align: center;
}