#text1{
position: absolute;
width: 358px;
height: 41px;
left: 501px;
top: 182px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 41px;
display: flex;
align-items: center;
text-align: center;
}

#text2{
position: absolute;
width: 321px;
height: 30px;
left: 520px;
top: 273px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
}

#button{
position: absolute;
width: 400px;
height: 100px;
left: 480px;
top: 353px;
background: #7CFF67;
border-radius: 50px;
border: none;
font-size: 24px;
text-align: center;
}
